<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Register number</th>
      <th>Status</th>
      <th>Actions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.register_number %></td>
        <td><%= student.status %></td>
        <td><%= link_to 'Show', student, :class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_student_path(student), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path, :class => "btn btn-primary" %>
